#hp_intro= @page_title
%p
  - if @changes.empty?
    = tr("No acquisition proposals", "view/feed/change_list")
  - else
    = will_paginate(@changes)
    %p
      - for change in @changes
        = render :partial => "changes/show", :locals => {:change => change}
        %br/
        = render :partial => "changes/status", :locals => {:change => change}
        - if change.status == 'sent'
          = render :partial => "changes/chart", :locals => {:change => change}
        %p
    %p
      = will_paginate(@changes)
