$('.endless_scroll_activities').append('#{escape_javascript(render partial: "feed/activity_list_simple", :locals => { :activities => @activities })}');
- if params[:idea_id] and params[:only_comments]
  $('a.load-more-posts').attr('href', '#{ "/feed/top_feed?page=#{@activities.next_page}&idea_id=#{params[:idea_id]}&only_comments=1"}');
- elsif params[:idea_id]
  $('a.load-more-posts').attr('href', '#{ "/feed/top_feed?page=#{@activities.next_page}&idea_id=#{params[:idea_id]}"}');
- else
  $('a.load-more-posts').attr('href', '#{ "/feed/top_feed?page=#{@activities.next_page}"}');
- unless @activities.next_page
  $('a.load-more-posts').remove();                                                                            T