- if point.flags_count > 0 and point.status == 'published' and user_signed_in? and current_user.is_admin?
  %div{:id => "point_flag_#{point.id}"}
    .warning_inline2{:id => "point_flag_#{point.id.to_s}"}
      %span.red>= tr("{count} flags", "view/ideas/_flagged", :count => point.flags_count)
      \. #{tr("Delete point and issue warning to {user_name} {warnings_count}?", "view/ideas/_flagged", :user_name => point.user.login, :warnings_count => point.user.warnings_count)}
      %span.tag_button
        = form_tag "/points/abusive/#{point.id}", :remote=>true do
          %span.warning_reason
            %br
            = "Reason?"
            = text_field_tag "warning_reason", "A point was removed due to violation of the terms of service.", :size=>70
            %br
            %br
            %span.yes
              = submit_tag "YES"
      %span.or= tr("or", "view/ideas/_flagged")
      %span.tag_button
        = form_tag "/points/not_abusive/#{point.id}", :remote=>true do
          %span.warning_reason
            = submit_tag "NO"
  .clear