%h1 Editing point
= form_for(@point) do |f|
  = f.error_messages
  %p
    = f.label :version_id
    %br/
    = f.text_field :version_id
  %p
    = f.label :idea_id
    %br/
    = f.text_field :idea_id
  %p
    = f.label :other_idea_id
    %br/
    = f.text_field :other_idea_id
  %p
    = f.label :user_id
    %br/
    = f.text_field :user_id
  %p
    = f.label :value
    %br/
    = f.text_field :value
  %p
    = f.label :name
    %br/
    = f.text_field :name
  %p
    = f.label :content
    %br/
    = f.text_area :content
  %p
    = f.submit "Update"
= link_to 'Show', @point
|
\#{link_to 'Back', points_path}
