= render :partial => "ideas/header"
%br
.row
  .large-2.columns
    %div
      &nbsp;
  .large-8.columns
    = form_for :point, :url => idea_points_path(@idea)  do |f|
      = f.error_messages
      = render :partial=>"points/form", :locals=>{:point_form=>f, :force_point_for=>false}
      %center
        = f.submit tr("Save point", "view/points/new"), :id => "submit", :class => "button"
  .large-2.columns
    %div
      &nbsp;
:javascript
  $(":submit").closest("form").submit(function(){
      $(':submit').attr('disabled', 'disabled');
  });