- if controller_name == "ideas" and action_name == "show"
  %meta{:content => @idea.name, :property => "og:title"}/
  - if description = @idea.description
    - # DO NOTHING
  - elsif @idea.points.first
    - description =  @idea.points.first.content
  - else
    - description = @idea.name
  %meta{:content => description, :property => "og:description"}/
  %meta{:content => "website", :property => "og:type"}/
  - if @idea.category and @idea.category.icon and @idea.category.icon.exists?(:icon_200)
    %meta{:content => @idea.category.icon.url(:icon_200), :property => "og:image"}/
  - else
    %meta{:content => "#{SubInstance.current.logo_url}", :property => "og:image"}/
  %meta{:content => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", :property => "og:url"}/
  %meta{:content => SubInstance.current.name, :property => "og:site_name"}/
  %meta{:content => Facebooker2.app_id, :property => "fb:app_id"}/
- else
  %meta{:content => SubInstance.current.name, :property => "og:title"}/
  - if SubInstance.current.description and SubInstance.current.description!=""
    %meta{:content => SubInstance.current.description, :property => "og:description"}/
  - else
    %meta{:content => current_instance.description, :property => "og:description"}/
  %meta{:content => "website", :property => "og:type"}/
  %meta{:content => "#{SubInstance.current.logo_url}", :property => "og:image"}/
  %meta{:content => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", :property => "og:url"}/
  %meta{:content => current_instance.name, :property => "og:site_name"}/
  %meta{:content => Facebooker2.app_id, :property => "fb:app_id"}/
