- points_up_count = idea.points.where(sub_instance_id: idea.sub_instance_id, :value=>1).count
- points_down_count = idea.points.where(sub_instance_id: idea.sub_instance_id, :value=>-1).count
.row
  .large-1.columns.less-padding
    %div
      - if idea.category and idea.category.icon
        = link_to(image_tag(idea.category.icon.url(:icon_50), :size => "50x50", :border => 0), idea.category.to_url,
                                                   :alt=>idea.category.name, :title=>idea.category.name)
    %center
      = idea.official_status_html_name.html_safe
  .large-8.columns
    %div.sib_idea
      = render :partial => "ideas/about_idea", :locals => {:idea => idea, :endorsement => endorsement }
  .large-3.columns
    %h5
      = tr("Vote","here")
    = render :partial => "ideas/debate_buttons", :locals => {:idea => idea, :endorsement => endorsement, :region=>"idea_inline", :force_debate_to_new=>@ideas ? false : true }
    = render :partial => "ideas/idea_social_buttons", :locals => {:idea => @idea ? @idea : idea, :endorsement => @endorsement, :region=>"idea_inline" }
    - if @idea and current_user and current_user.is_admin?
      = link_to tr("Delete", "view/ideas/_nav"), @idea, :title => tr("Are you sure you want to permanently delete {idea_name}?", "view/ideas/_nav", :idea_name => @idea.name), :confirm => tr("Are you sure you want to permanently delete {idea_name}?", "view/ideas/_nav", :idea_name => @idea.name), :method => :delete
.row
  .large-12.columns
    - unless @idea
      %center
        .idea_debate_spinner.spinner_align{:id => "idea_debate_spinner_debate_#{idea.id.to_s}"}
        .debate_button{:id=>"debate_button_#{idea.id}"}
          = tr("{up} points for {down} against","here",:up=>points_up_count,:down=>points_down_count)
          %h5
            %a{:link=>idea.new_point_url, :class => "idea_add_link_old"}
              %span{:id => "idea_debate_text_#{idea.id.to_s}"}
                = tr("Join debate","here")
      = render :partial => "ideas/debate_button_javascript", :locals => { :idea => idea }
    = render :partial => "ideas/idea_detail" if ["show","top_points"].include?(action_name) and controller_name=="ideas"

