.row
  .large-12.columns
    = render :partial => "ideas/idea_status_changelogs"
.row
  .large-12.columns
    %center
      %a.button{:href => @idea.new_point_url, :style=>"height:28px;padding-top:4px;"}
        = tr("Add new point", "view/ideas/_nav")
.row
  .large-6.columns.point_for
    - unless @points_new_up.empty?
      #pro_new
        = render :partial => "points/short_list", :locals => {:points_value=>1, :newest_points=>true, :id => "pro_new", :points => @points_new_up, :numbering=>false}
    #pro_top
      = render :partial => "points/short_list", :locals => {:points_value=>1, :id => "pro_top", :points => @points_top_up, :numbering=>false}
  .large-6.columns.point_against
    - unless @points_new_down.empty?
      #con_new
        = render :partial => "points/short_list", :locals => {:points_value=>-1, :newest_points=>true, :id => "con_new", :points => @points_new_down, :numbering=>false}
    #con_top
      = render :partial => "points/short_list", :locals => {:points_value=>-1, :id => "con_top", :points => @points_top_down, :numbering=>false}
- unless action_name=="show"
  .row
    .large-12.columns
      %center
        %h5
          = link_to(tr("More", "view/ideas/_nav").downcase, @idea.show_url)
