#sib_idea_container

  %table{:width=>"100%"}
    %tr
      %td{:style=>"vertical-align:top",:width=>"72px;"}
        %ul
          %li
            %div.sib_category_logo
              - if idea.category and idea.category.icon
                = link_to(image_tag(idea.category.icon.url(:icon_50), :size => "50x50", :border => 0), idea.category.to_url,
                                                           :alt=>idea.category.name, :title=>idea.category.name)
        %center
          = idea.official_status_html_name.html_safe
      %td
        %table{:width=>"100%",:border=>0}
          %tr
            %td{:style=>"vertical-align:top", :style=>"vertical-align:top", :width=>"640px"}
              %div.sib_idea
                = render :partial => "ideas/about_idea", :locals => {:idea => idea, :endorsement => endorsement }
            %td{:style=>"vertical-align:top"}
              %table{:width=>"100%",:border=>0}
                %tr
                  %td{:width=>"200px",:style=>"vertical-align:top;width:200px !important"}
                    = render :partial => "ideas/idea_social_buttons", :locals => {:idea => @idea ? @idea : idea, :endorsement => @endorsement, :region=>"idea_inline" }
                  %td.sib_debate_buttons{:style=>"vertical-align:top"}
                    = render :partial => "ideas/debate_buttons", :locals => {:idea => idea, :endorsement => endorsement, :region=>"idea_inline", :force_debate_to_new=>@ideas ? false : true }
                    - if @idea and current_user and current_user.is_admin?
                      = link_to tr("Delete", "view/ideas/_nav"), @idea, :title => tr("Are you sure you want to permanently delete {idea_name}?", "view/ideas/_nav", :idea_name => @idea.name), :confirm => tr("Are you sure you want to permanently delete {idea_name}?", "view/ideas/_nav", :idea_name => @idea.name), :method => :delete
        %table{:width=>"100%",:border=>0}
          %tr
            %td{:style=>"vertical-align:top"}
              = render :partial => "ideas/idea_detail" if ["show","top_points"].include?(action_name) and controller_name=="ideas"
            %td{:style=>"vertical-align:top",:width=>"100px"}

