.col-content
  .col-full
    .col-content
      = render :partial => "ideas/idea_status_changelogs"
  .col-full
    .col-content
      %br
        %center
          .debate_header
            - total_points = @total_up_points+@total_down_points
            = tr("Debate","points")+" (#{link_to "#{total_points} #{total_points > 1 ? tr("Points","point") : tr("Point","point")}",top_points_idea_url(@idea)})".html_safe
            = " - "
            = link_to tr("ADD NEW POINT", "view/ideas/_nav"), @idea.new_point_url
  .col-half
    .col-content.point_for
      %div
        - unless @points_new_up.empty?
          #pro_new
            = render :partial => "points/short_list", :locals => {:newest_points=>true, :id => "pro_new", :points => @points_new_up, :numbering=>false}
        #pro_top
          = render :partial => "points/short_list", :locals => {:id => "pro_top", :points => @points_top_up, :numbering=>false}
  .col-half
    .col-content.point_against
      %div
        - unless @points_new_down.empty?
          #con_new
            = render :partial => "points/short_list", :locals => {:newest_points=>true, :id => "con_new", :points => @points_new_down, :numbering=>false}
        #con_top
          = render :partial => "points/short_list", :locals => {:id => "con_top", :points => @points_top_down, :numbering=>false}
- if request.xhr?
  .col-group
    .col-full
      .col-content
        .more_container
          = link_to tr("More...", "view/ideas/idea_detail"), top_points_idea_url(@idea), class: "idea_detail_more"
