- if support
  %span#endorse-title
    = #tr("Points for", "view/ideas/_nav")
  %div.idea_add{:id => "idea_add_point_for#{idea.id.to_s}", :class => "add_point_for_button"}
    = link_to tr("Add point for", "view/ideas/_nav"), idea.new_point_url(support: true),          |
      :class => "", :title => tr("I endorse this and want to explain why.", "view/ideas/_nav") |
- else
  %div.idea_add{:id => "idea_add_point_against#{idea.id.to_s}", :class => "add_point_against_button"}
    = link_to tr("Add point against", "view/ideas/_nav"), idea.new_point_url(support: false),                       |
      :class => "", :title => tr("I oppose this and want to explain why.", "view/ideas/_button") |
