%table
  %tr
  - if idea.status == 'buried'
    %td{:align => "center", :colspan => "3", :valign => "top"}
      .position_nochange= tr("delisted", "view/ideas/_rank_week_month")
  - elsif idea.status == 'inactive'
    %td{:align => "right", :colspan => "2", :height => "20", :valign => "top", :width => "60"}
      .idea_inactive
        = official_status(idea)
  - else
    %td.idea_rank{:align => "left", :valign => "top", :width => "10"}
      - if idea.position != 0
        .idea_position{:title => tr("This is the {position} highest ranked idea across all {instance_name} members.", "view/ideas/_rank_week_month", :position => idea.position, :instance_name => current_instance.name)}
          = idea.position
    - if idea.is_new?
      %td{:align => "left", :valign => "top", :width => "30"}
        .position_new= tr("new", "view/ideas/_rank_week_month")
    - elsif idea.position_7days_delta == 0 and idea.position_30days_delta == 0
      %td{:align => "center", :colspan => "1", :valign => "top", :width => "30"}
        .position_nochange{:title => tr("This idea hasn't moved up or down in the rankings at all this month.", "view/ideas/_rank_week_month")}
        = #tr("Unch", "view/ideas/_rank_week_month")
    - else
      %td{:colspan => "0", :valign => "top", :width => "30"}
        - if idea.position_7days_delta > 0
          .position_up{:title => tr("This idea moved up {count} spots in the rankings this week", "view/ideas/_rank_week_month", :count => idea.position_7days_delta.abs)}= idea.position_7days_delta.abs
        - elsif idea.position_7days_delta < 0
          .position_down{:title => tr("This idea moved down {count} spots in the rankings this week", "view/ideas/_rank_week_month", :count => idea.position_7days_delta.abs)}= idea.position_7days_delta.abs
      - if false and idea.position_30days_delta > 0
        %td.left_scale{:valign => "top"}
          .position_up{:title => tr("This idea moved up {count} spots in the rankings this month", "view/ideas/_rank_week_month", :count => idea.position_30days_delta.abs)}= idea.position_30days_delta.abs
      - elsif false and idea.position_30days_delta < 0
        .position_down{:title => tr("This idea moved down {count} spots in the rankings this month", "view/ideas/_rank_week_month", :count => idea.position_30days_delta.abs)}= idea.position_30days_delta.abs
