.idea_tags{:id => "idea_#{idea.id}_tags"}
  - if user_signed_in? and (current_user.is_tagger? or current_user.is_admin?)
    .category_list
      - for tag in idea.issues
        %span.tag_name= link_to tr(tag.title,"model/category"), tag.show_url
        %span.tag_count= tag.ideas_count
      - if user_signed_in? and (current_user.is_tagger? or current_user.is_admin?)
        %span.tag_button
          = link_to "tag", tag_idea_path(idea), |
            :method => :post,                           |
            :remote=>true,                              |
            'data-disable-with' => "",                  |
            'data-loader-name' => "horizontal_small"    |
  - elsif idea.attribute_present?("cached_issue_list")
    = tags_sentence(idea.cached_issue_list)
