#right_column_ideas
  #your_ideas
    - current_user_endorsements.each do |endorsement|
      .your_idea_endorsement{:id => "endorsement_#{endorsement.id}", :style => "cursor:move;padding-bottom:15px;"}
        .row{:class=>endorsement.is_up? ? "endorsement_up" : "endorsement_down"}
          .large-1.columns{:style=>"padding-right:5px;"}
            .endorsement_row{:id => "endorsement_#{endorsement.id}_row"}
              = link_to "#{endorsement.position}.", edit_endorsement_url(endorsement, :region => "yours"),                                                    |
                :method => :get,                                                                                                                              |
                'data-disable-with' => "",                                                                                                                    |
                'data-loader-name' => "circle",                                                                                                               |
                :remote=>true,                                                                                                                                |
                :title => tr("Click the number to change its position on your list. You can also drag and drop the names to sort.", "view/ideas/_yours") |
          .large-9.columns
            .if.else{:class => "endorsement_<haml:silent> endorsement.is_up? </haml:silent><haml:block>up</haml:block><haml:silent> </haml:silent><haml:block>down</haml:block>"}
              - if endorsement.position<4
                %b
                  = link_to_unless_current h(endorsement.idea.name), endorsement.idea if endorsement.idea
              - else
                = link_to_unless_current h(endorsement.idea.name), endorsement.idea if endorsement.idea
          .large-2.columns{:style=>"vertical-align:top;padding-left:3px;"}
            .endorsement_x
              = link_to "x", endorsement_path(endorsement, :region => "your_ideas"),                                                        |
                :method => :delete,                                                                                                              |
                'data-disable-with' => "",                                                                                                       |
                'data-loader-name' => "circle",                                                                                                  |
                :remote=>true,                                                                                                                   |
                :class => "your_ideas_remove", :title => tr("Click the X to remove this idea from your list", "view/ideas/_yours") |
    :javascript
      $(function() {
          $('#your_ideas').sortable(
                  {
                      axis: 'y',
                      items: 'div.your_idea_endorsement',
                      scroll: true,
                      update: function(){
                          order = [];
                          $("#your_ideas").children("div").each(function(idx, elem) {
                              order.push(elem.id.split('_')[1])
                          });
                          $.ajax({
                              type: 'post',
                              dataType: 'script',
                              data: {"your_ideas": order},
                              url: '#{url_for :controller => :users, :action => :order}'
                          })
                      }
                  }
          )
      });
  - if current_user.endorsements_count > 7
    %p
      = will_paginate(current_user_endorsements, :renderer => 'RemoteLinkRenderer', :previous_label=>tr("Previous","ajax pagination"),
                                                                                    :next_label=>tr("Next","ajax pagination"),
                                                                                    :class => "ajax_pagination", :inner_window => 2)
  %p
    = tr("Vote ideas up or down to add them to your priorities list. You can drag and drop items in your list to change the order.", "view/ideas/_yours")
