= render :partial => "header"
.col-group
  .col-1
    .col-content
  .col-11
    .col-content
      - if @idea.has_tags? and @idea.relationships_count > 0 and @idea.endorsements_count > 3
        = tr("What other ideas do they endorse?", "view/ideas/endorsers")
        %p
          - for relationship in @idea.relationships.endorsers_endorsed.by_highest_percentage.find(:all, :limit => 5, :include => :other_idea)
            = tr("{percentage} endorse {idea_name}", "view/ideas/endorsers", :percentage => number_to_percentage(relationship.percentage, :precision => 0), :idea_name => link_to(relationship.other_idea.name, relationship.other_idea))
            %br/
      - cache("idea_#{@idea.id.to_s}_endorsers_#{@idea.up_endorsements_count}-#{session[:locale]}-#{@inline_translations_enabled}", :expires_in => 12.hours) do
        - @idea.endorsements.active_and_inactive.endorsing.by_position.find(:all, :include => :user, :limit => 500).group_by { |e| e.position }.each do |position, endorsements|
          .subhead= tr("Idea {position}", "view/ideas/endorsers", :position => position)
          %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :class => "margin-top"}
            - endorsements.in_groups_of(4) do |row_endorsements|
              %tr
                - for endorsement in row_endorsements
                  - if endorsement
                    %td{:style => "padding: 0px 5px 5px 0px;", :valign => "top", :width => "150"}
                      %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
                        %tr
                          %td{:valign => "top", :width => "24"}
                            = render :partial => "users/pic_50", :locals => {:user => endorsement.user}
                          %td{:style => "padding-left: 5px;", :valign => "top"}
                            = link_to endorsement.user.name, endorsement.user
                            .small= time_ago(endorsement.created_at)
                  - else
                    %td{:style => "padding-bottom: 5px;", :width => "150"} &nbsp;
      - if @idea.up_endorsements_count > 500
        %p= tr("Only displaying the top 500 endorsers", "view/ideas/endorsers")
