.row
  .large-6.columns
    = render :partial=>"/shared/sub_navigation"
  .large-6.columns
    = render :partial=>"/shared/category_filter"
.row
  .large-12.columns
    - if action_name == "finished" and Instance.current.message_for_finished and Instance.current.message_for_finished!=""
      = render :partial=>"/shared/top_message_box", :locals=> {:message_text => Instance.current.message_for_finished.html_safe }
    - if @ideas.any?
      - @ideas.each do |idea|
        = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
      = foundation_paginate @ideas unless action_name=="by_tag"
    - else
      = tr("No #{IDEA_TOKEN_PLURAL} here yet.","ideas")
