= render :partial => "header"
.col-group
  .col-1
    .col-content
  .col-11
    .col-content
      - if @points.empty? and not @idea.replaced?
        = tr("No points yet.", "view/ideas/points")
      - else
        - if @points.total_pages > 1
          = will_paginate(@points)
          %p
        - for point in @points
          - quality = nil
          - if @qualities
            - quality = @qualities.detect {|e| e.point_id == point.id }
          = render :partial => "points/show", :locals => {:point => point, :idea => @idea, :quality => quality }
        = will_paginate(@points)
