= render :partial => "header"
.row
  .large-12.columns
    - if user_signed_in?
      = render :partial => "bulletins/form", :locals => {:activity => Activity.new, :comment => Comment.new}
      #new_activities
    - unless @activities.blank?
      .endless_scroll_activities
        = render :partial=>"feed/activity_list_simple"
      = link_to tr("More...","here"), "/feed/top_feed?page?#{@activities.next_page}&only_comments=1&idea_id=#{@idea.id}", :class => 'load-more-posts', :remote => true if @activities.next_page