#hp_intro= @page_title
%p
  - if @ads.empty?
    %p= tr("Ads at {instance_name} are bought with social points, not money. That's what the {span_start}sp{span_end} next to people's names refers to.  You can earn {span_start}social points{span_end} in a variety of ways, {a_start}details are here{a_end}.  ", |
           "view/ideas/yours_ads",                                                                                                                                                                                                                               |
           instance_name: @current_instance.name,                                                                                                                                                                                                                     |
           span_start: '<span class="pc">',                                                                                                                                                                                                                           |
           span_end: '</span>',                                                                                                                                                                                                                                       |
           a_start: '<a href="/about/faq#pc">',                                                                                                                                                                                                                       |
           a_end: '</a>'                                                                                                                                                                                                                                              |
        )                                                                                                                                                                                                                                                             |
    %p= tr("To place an ad, click on one of your ideas, then the \"Action\" and \"Purchase an ad\".", "view/ideas/yours_ads")
  - else
    = tr("These are your ads, and the bars show how many members have <span class='endorsed'>&nbsp; &nbsp;</span> &nbsp;endorsed, <span class='opposed'>&nbsp; &nbsp;</span> &nbsp;opposed, or <span class='compromised'>&nbsp; &nbsp;</span> &nbsp;not responded yet. <br/>To place an ad, click on one of your ideas, then Action > Purchase an ad.", "view/ideas/yours_ads")
    - shown_active = false
    - shown_past = false
    - for ad in @ads
      - if ad.status == 'active' and not shown_active
        - shown_active = true
        .heading= tr("Currently running ads", "view/ideas/yours_ads")
      - elsif ad.status != 'active' and not shown_past
        %p
          - shown_past = true
        .heading= tr("Past ads", "view/ideas/yours_ads")
      = render :partial => "ads/show_inline", :locals => {:ad => ad}
    %p
      = will_paginate(@ads)
