= render :partial=>"header", formats: [:html]
%p= tr("The status of the idea <a href='{idea_link}'>{idea_name}</a> {support_or_endorse_text} has been changed on {instance_name}.", "email",                                                                                                                                      |
    idea_name: @idea.name,                                                                                                                |
    idea_link: @idea.show_url,                                                                                                            |
    support_or_endorse_text: @support_or_endorse_text,                                                                                            |
    instance_name: @idea.sub_instance.name).html_safe                                                                               |
%p= @date.strftime("%d.%m.%Y")
= my_simple_format(@message)
%p
  = link_to @idea.show_url, @idea.show_url
= render :partial=>"footer", formats: [:html]
