= render :partial=>"user_mailer/header", formats: [:html]
%p
  = tr("This is an invitation from {sender_name} to join {instance_name}.", "email", :sender_name=> @sender_name, :instance_name=>@instance_name)
%p
  = tr("Click here to accept invitation:","here")
  %br
  = link_to "https://#{@instance.base_url_w_sub_instance}/users/invitation/accept?invitation_token=#{@token}", "https://#{@instance.base_url_w_sub_instance}/users/invitation/accept?invitation_token=#{@token}"
= render :partial=>"user_mailer/footer", formats: [:html]
