= render :partial=>"header", formats: [:html]
%p
  = tr("Hi","email")
  = @user.first_name
  ,
%p
  = tr("Your new temporary password is","email")
  \: #{@new_password}
%p= link_to @user.root_url, @user.root_url
%p= tr("After you have logged in please change your password to something you remember.","email")
%p= link_to @user.root_url+'passwords/'+@user.id.to_s+'/edit', @user.root_url+'passwords/'+@user.id.to_s+'/edit'
= render :partial=>"footer", formats: [:html]
