- if @activity.has_idea?
  #idea_intro
    = link_to @activity.idea.name, @activity.idea
    \&raquo;
    \#{link_to tr("{count} discussions", "view/comments/index", :count => @activity.idea.discussions_count), discussions_idea_url(@activity.idea)} &raquo;
  %p
#hp_intro
  = render :partial => "activities/#{@activity[:type].downcase}", :locals => {:activity => @activity}
%p
  %table{:border => "0", :cellpadding => "0", :cellspacing => "0", :width => "100%"}
    %tr
      %td{:valign => "top"}
        .comment_list_detail{:id => "activity_#{@activity.id}_comments"}
          - @activity.comments.published_and_abusive.by_first_created.each_with_index do |comment,i|
            = render :partial => "comments/show", :locals => {:comment => comment, :first_comment => i==0 ? true : false}
          - if @activity.comments_count > 0
            = render :partial => "comments/new_inline", :locals => {:activity => @activity, :comment => Comment.new}
        - if @activity.comments_count > 0 and @activity.idea and @activity.idea.discussions_count > 1
          %br
          %p
            = link_to tr("{count} more discussions in {idea_name}", "view/comments/index", :count => @activity.idea.discussions_count-1, :idea_name => @activity.idea.name), discussions_idea_url(@activity.idea)
      %td.left_scale30{:valign => "top", :width => "180"}
        - if @activity.comments_count > 0
          = render :partial => "activities/button", :locals => {:activity => @activity, :following => @following}
          %p
        - if @activity.comments_count > 1
          .heading
            %b
              = tr("People commenting", "view/comments/index")
          %br
          - for user in @activity.commenters_count
            %table{:border => "0", :cellpadding => "0", :cellspacing => "0"}
              %tr
                %td{:valign => "top", :width => "48"}
                  = render :partial => "users/pic_50", :locals => {:user => user[0]}
                %td.left_scale8{:valign => "top"}
                  - if user[0].status == 'suspended' or user[0].status == 'removed'
                    %strike/
                  = link_to user[0].name, user[0]
                  - if user[0].status == 'suspended' or user[0].status == 'removed'
                    .profile_small