- for issue in issues
  .row
    .large-2.columns
      - if issue.icon.exists?(:icon_100)
        = link_to(image_tag(issue.icon.url(:icon_100), :size => "87x87", :border => 0), issue.to_url, :alt=>issue.name, :title=>issue.name)
      - else
        = link_to(image_tag(issue.icon.url(:icon_50), :size => "50x50", :border => 0), issue.to_url, :alt=>issue.name, :title=>issue.name)
    .large-10.columns.panel
      %span.idea_name
        = issue.name
      - if issue.attribute_present?("description")
        = h(issue.description)
      %p
        .idea_action
          - if issue.ideas.published.count > 0
            %a{:href => "#{issue.to_url}"}
              = tr("{count} ideas", "view/issues/index", :count => issue.ideas.published.count)
          - else
            %a{:href => "/ideas/new"}
              = tr("No ideas yet. Add the first idea now.","Here",)
          - if false and issue.points_count > 0
            \&middot;
            %a{:href => "#{issue.to_url}/points"}
              = tr("{count} points", "view/issues/index", :count => issue.points_count)
          - if false and issue.discussions_count > 0
            \&middot;
            %a{:href => "#{issue.to_url}/discussions"}
              = tr("{count} discussions", "view/issues/index", :count => issue.discussions_count)
