.row
  .large-12.columns
    #hp_intro= @page_title
    - if not user_signed_in?
      = tr("If you'd like to participate please sign up.", "view/issues/discussions", :signup_url => new_user_url)
      %p
    - if user_signed_in?
      #new_activities
      = render :partial => "bulletins/form", :locals => {:activity => Activity.new, :comment => Comment.new }
    = render :partial => "shared/paginate_with_feed", :locals => {:collection => @activities}
    #activities
      - for activity in @activities
        = render :partial => "activities/show", :locals => {:activity => activity, :suffix => ""}
    = foundation_paginate(@activities)
