#hp_intro= @page_title
- if @points.empty?
  = tr("No points yet.", "view/issues/points")
- else
  = will_paginate(@points)
  %p
    - for point in @points
      - quality = nil
      - if @qualities
        - quality = @qualities.detect {|e| e.point_id == point.id }
      = render :partial => "points/show_full", :locals => {:point => point, :quality => quality, :revision => nil}
  %p
    = will_paginate(@points)
