- if @point or @idea or @user
  .row
    .large-2.columns
      &nbsp;
    .large-6.columns
      = form_for comment, :remote=>true,                |
        :url => bulletins_url,                          |
        "data-disable-with"=>escape_t(tr("Sending","Ajax")),  |
        'data-loader-name' => "horizontal_small" do |f| |
        #bulletin_error.comment_error
          = f.error_messages
        .label
          = tr("Start a discussion", "view/bulletins/_form")
        = f.text_area :content, :id => "bulletin_content"
        = f.submit tr("New discussion thread", "view/bulletins/_form"), :id => "bulletin-form-submit", :class => "button small"
        - if @idea
          %input{:name => "activity[idea_id]", :type => "hidden", :value => @idea.id}/
        - if @point
          %input{:name => "activity[point_id]", :type => "hidden", :value => @point.id}/
        - if @user and @user != current_user
          %input{:name => "activity[other_user_id]", :type => "hidden", :value => @user.id}/
    .large-4.columns
      &nbsp;

