= form_for(@account) do |f|
  .row
    .large-12.columns
      .panel
        .row
          .large-12.columns
            - if @account.errors.any?
              .panel
                #error_explanation
                  %h2
                    - if @account.errors.count<2
                      = tr("{error_count} error prohibited this account from being saved:","here",:error_count=>@account.errors.count)
                    - else
                      = tr("{error_count} errors prohibited this account from being saved:","here",:error_count=>@account.errors.count)
                  %ul
                    - @account.errors.full_messages.each do |msg|
                      %li
                        = msg
            %h2
              = tr("Create your own {instance_name} group","here",:instance_name=>Instance.last.name)
        .row
          .large-6.columns
            .panel
              %h3
                %span.step 1
                = tr("Group name and URL","here",:instance_name=>Instance.last.name)
              .label
                = tr("Name of your group","here")
              = f.text_field :instance_name, :size=>30, :class=>"idleField", :label=>false, :placeholder => tr("Name your group","here",:instance_name=>Instance.last.name)
              .label
                = tr("Domain name","here")
              .row.collapse
                .small-7.columns
                  = f.text_field :short_name, :size=>30, :class=>"idleField", :label=>false, :placeholder =>  tr("Your URL","here")
                .small-5.columns
                  %span.postfix
                    = "."+Instance.last.domain_name
              .field_hint
                = tr("Example: https://","here")
                %b
                  = tr("yours","here")+"."+Instance.last.domain_name
          .large-6.columns
            .panel
              %h3
                %span.step 2
                = tr("Next... Your personal details","here")
              .label
                = tr("Full name","here")
              = f.text_field :user_name, :size=>30, :class=>"idleField", :label=>false, :placeholder => tr("Full name","here")
              .label
                = tr("Email","here")
              = f.text_field :email, :size=>30, :class=>"idleField", :label=>false, :placeholder => tr("Email","here")
              .label
                = tr("Password","here")
              = f.password_field :password, :size=>30, :class=>"idleField", :label=>false, :placeholder => tr("Password","here")
        .row
          .large-12.columns
            .panel
              = render :partial=>"select_plan", :locals=>{:f=>f}
        .row
          .large-12.columns
            .panel
              %h3
                %span.step 4
                = tr("The final step...","here")
              .field_terms
                %input{:name => "subscription_account[terms]", :type => "hidden", :value => "0"}
                = #%input#subscription_account_terms{:name => "subscription_account[terms]", :type => "checkbox", :value => "1"}
                = f.check_box :terms
                = tr("I agree to the","here")
                %a{:href => "/pages/#{Page.where(:name=>"terms_of_service").first.id}"}
                  = tr("Terms of Service","here")
                = tr("and","here")
                %a{:href => "/pages/#{Page.where(:name=>"privacy_policy").first.id}"}
                  = tr("Privacy Policy","here")
              %br
              %center
                .field_submit
                  %p
                    %input.button{:name => "commit", :type => "submit", :value => tr("CREATE NEW GROUP","here",:instance_name=>Instance.last.name.upcase)}

:javascript
  $("#subscription_account_instance_name").keyup(function(){
     $('#subscription_account_short_name').val(URLify($(this).val(),60));
  });
