%h3{:style=>"padding-bottom:8px;"}
  %span.step 3
  = tr("Select group type","here")
- current_plan_is = -1
- [@public_plans,@private_plans].each_with_index do |plans,i|
  - unless plans.empty?
    .row.collapse
      %div{:id=>i==0 ? "plan_type_private" : "plan_type_public", :class=>i==0 ? "span3" : "span4", :plan_name=>i==0 ? tr("Private","here") : tr("Public","here")}
        - plans.each do |plan|
          - if plan.currency == @currency_code
            .large-12.columns
              - current_plan_is = i if @current_plan and @current_plan.id == plan.id
              - if defined?(f)
                - if @current_plan and @current_plan.id == plan.id
                  = f.radio_button :plan_id, plan.id, :checked=>true
                - else
                  = f.radio_button :plan_id, plan.id
                - if i==1
                  %b
                    = tr("Private group","here")
                  = tr("Ideal for voting and discussion for a pre-defined set of people.","here")
                - else
                  %b
                    = tr("Public group","here")
                  = tr("Ideal for brainstorming - idea generation and debate. Easy and open participation.","here")
            - break
            %br
%p
  %br
  = tr("Consulting? Login integration or other customisations? ","here")
  = tr("Contact us at <a href='mailto:{email}'>{email2}</a>","here",:email=>Instance.last.sales_email,:email2=>Instance.last.sales_email).html_safe
- unless current_instance.domain_name.include?("yrpri") or current_instance.domain_name.include?("betra")
  %p
    = tr("If you are a non-profit organization please consider using the {yrpri_link} service run by our partner the non-profit {cf_link} in Iceland.","here",:yrpri_link=>link_to("Your Priorities","https://www.yrpri.org/",:target=>"_blank"),:cf_link=>link_to("Citizens Foundation","http://www.citizens.is/",:target=>"_blank"))
