%p
  = tr("This is an automated message to let you know that {sender_name} just joined {instance_name}","email", :sender_name=>@sender.name, :instance_name => @instance.name)
  = tr("You're receiving it because you have {sender_email} in your contacts.","email", :sender_email=>@sender.email)
%p
  = tr("You can add {sender_name} to your network and follow their activity here","email", :sender_name=>@sender.name)
  \:
  %br/
  = link_to @sender.profile_url, @sender.profile_url
%p= tr("Thank you for participating.","email")

