= render :partial=>"user_mailer/header", formats: [:html]
%p
  = tr("Hi","email")
  = @recipient.first_name.capitalize
  ,
%p
  = tr("{sender_name} just revised a point. It now reads:","email", :sender_name=>@sender.name)
  \:
%p= @notifiable.text
%p
  = tr("You can see the exact changes marked up and discuss it here","email")
  \: #{link_to @notifiable.url, @notifiable.url}
= render :partial=>"user_mailer/footer", formats: [:html]
