= render :partial=>"user_mailer/header", formats: [:html]
%p
  = tr("Hi","email")
  = @recipient.first_name.capitalize
  ,
%p
  = @sender.name
  = tr("commented on","email")
  = @notifiable.activity.name
  \:
%p= @notifiable.content
%p
  = tr("You can view or stop following this discussion here","email")
  \: #{link_to @notifiable.show_url, @notifiable.show_url}
= render :partial=>"user_mailer/footer", formats: [:html]
