- if session["omniauth_data"]
  %h2= tr("To add {provider} login to your account, you must provide your password.", "view/sessions/_form", provider: session["omniauth_data"][:provider])
.row
  .large-2.columns
    %div
      &nbsp;
  .large-8.columns
    %h1
      = tr("Create an account", "view/sessions/new")
    #new_user_form
      - if @geoblocked
        = render :partial=>"shared/geoblocking_info"
      - else
        - unless current_instance.disable_email_login or (@current_plan and @current_plan.private_instance)
          = form_for :user, url: registration_path('user') do |f|
            - if @user.errors.any?
              .error_messages
                %h2
                  = tr("Errors","here")
                %ul
                  - @user.errors.full_messages.each do |msg|
                    %li
                      = msg
            %h2
              = tr("Email registration","here")
              %br
            .field
              .label
                = tr("Your name", "view/users/_form")
              = f.text_field :login, :maxlength => 40, :size => 30
            %br
            .field
              .label
                = tr("Email address", "view/users/_form")
              = f.text_field :email, :size => 30
            -if SubInstance.current.ask_for_post_code==true
              %br
              .field
                .label
                  = tr("Post code", "view/users/_form")
                = f.text_field :post_code, :size => 10
            - unless session["omniauth_data"]
              %br
              .field
                .label
                  = tr("Password", "view/users/_form")
                .field_box
                  = f.password_field :password, :size => 30
            :javascript
              var RecaptchaOptions = { theme : 'clean' };
            = #recaptcha_tags
            %br/
            .label
              = tr("I agree to the ", "view/users/_form")
              - if page = Page.where(:name=>"terms_of_service_users").first or page = Page.unscoped.where(:name=>"terms_of_service_users").first
                %a{:href => "/pages/#{page.id}", :target => '_blank'}
                  = tr("terms of service", "view/users/_form")
            = check_box("user", "terms")
            %br/
            %br/
            %center
              - if @idea
                - if @value == 1
                  = submit_tag tr("Endorse and signup", "view/users/_form"), :class => "button small"
                - elsif @value == -1
                  = submit_tag tr("Oppose and signup", "view/users/_form"), :class => "button small"
                - else
                  = submit_tag tr("Signup", "view/users/_form"), :class => "button small"
              - else
                = submit_tag tr("Signup", "view/users/_form"), :class => "button small"
  .large-2.columns
    %div
      &nbsp;
= render :partial => "users/rules_info"
:javascript
  $(document).ready(function(){
    $(".slidingDiv").show();
  });

