#login
  #login_form
    - if current_instance.has_facebook_enabled? and (not SubInstance.current.subscription_enabled or (@current_plan and not @current_plan.private_instance))
      #fb_login_link
        = link_to user_omniauth_authorize_path(:facebook), class: 'fb_login_button' do
          %span.fb_login_text
            = tr("Sign in with {provider}", "views/_top_navigation", provider: "Facebook")
      %br
    - if current_instance.has_twitter_enabled? and (not SubInstance.current.subscription_enabled or (@current_plan and not @current_plan.private_instance))
      %div{:style => "margin-bottom: 5px;"}
        = link_to user_omniauth_authorize_path(:twitter), class: 'twitter_login_button' do
          = image_tag("twitter_signin.png", :border => 0, :title=>tr("Sign in with Twitter","_login"))
        %br/
    - if current_instance.google_login_enabled
      %div{:style => "margin-bottom: 5px;margin-top: 5px;"}
        = link_to image_tag("logos/Gmail_logo.png", :border => 0, :title=>tr("Sign in with Gmail","_login")), :controller => "open_ids", :action => "new"
        %br/
    - if !@geoblocked
      - if ENV['ISLYKILL_ID'] and SubInstance.current and SubInstance.current.short_name=="default"
        #signup
          = link_to tr("Sign in with island.is", "view/shared/_login"), "https://innskraning.island.is/?id=#{ENV['ISLYKILL_ID']}"
          %br
    - unless current_instance.disable_email_login and not (@current_plan and @current_plan.private_instance)
      %br
      %br
      %a.show_hide{href: "#"}
        = tr("Sign in with email","here")
      %br
      %br
      .slidingDiv{:style=>"display: none;"}
        = form_for :user, remote: true,                       |
          'data-disable-with' =>  escape_t(tr("Sending","Ajax")), |
          :url => user_session_path(region: 'inline') do |f|        |
          .label
            = tr("Email address", "view/shared/_login")
          = f.text_field :email, size: 15, html: { id: :login_email }
          = f.hidden_field :sub_instance_id, :value=>SubInstance.current.id
          .label
            = tr("Password", "view/shared/_login")
          = f.password_field :password, size: 8, html: { id: :login_password }
          = f.submit tr("Sign in", "view/shared/_login"), :class => "button small", :onclick=>"$('.login_message').html('')"
          .login_message{:style=>"color: #f00;"}
          %p
            %b
              = tr("Not yet registered?","here")
            %br
            = link_to tr("Create new email user", "view/shared/_login"), new_user_registration_path
          %p
            = link_to tr("I forgot my password", "view/shared/_login"), new_user_password_path
      = #render :partial => "shared/language_selection_master"
    %br
    - if @geoblocked
      = render :partial=>"shared/geoblocking_info"
:javascript
  $(document).ready(function(){
      $(".show_hide").show();
      $('.show_hide').click(function(){
      $(".slidingDiv").slideToggle();
      });

  });
