.user_picture_50
  - if user and user.buddy_icon.exists?(:icon_50)
    = link_to image_tag(user.buddy_icon.url(:icon_50), :size => "50x50", :width=>"50", :border => 0, :title=>user.login, :alt => user.login), user
  - elsif user and user.buddy_icon.exists?(:icon_48)
    = link_to image_tag(user.buddy_icon.url(:icon_48), :size => "50x50", :width=>"50", :border => 0, :title=>user.login, :alt => user.login), user
  - elsif user and user.facebook_uid
    = image_tag "https://graph.facebook.com/#{user.facebook_uid}/picture".html_safe, :size => "50x50"
    = #link_to fb_profile_pic(user.facebook_uid, :facebook_logo=>false, :linked=>false, :size=>"square", :height=>"50", :width=>"50"), user
  - elsif user and user.twitter_id and user.twitter_profile_image_url
    = image_tag user.twitter_profile_image_url, :size => "50x50"
  - elsif user
    = link_to (image_tag current_instance.buddy_icon.url(:icon_50), :size => "50x50", :border => 0, :title=>user.login, :alt =>user.login), user
