.profile_menu
  %ul
    %li.highlight
      = link_to_unless_current tr("Profile", "view/users/_profile_nav"), @user
    - if @user.endorsements_count > 5
      %li
        = link_to_unless_current tr("#{IDEA_TOKEN_PLURAL_CAPS}", "view/users/_profile_nav") + " (#{@user.endorsements_count})", ideas_user_url(@user)
    %li
      = link_to_unless_current tr("Feed", "view/users/_profile_nav"), activities_user_url(@user)
    %li
      = link_to_unless_current tr("Discussions ({count})", "view/users/_profile_nav", :count => @user.points_count), discussions_user_url(@user)
    - if user_signed_in? and current_user.is_admin?
      - if not @user.is_suspended?
        %li
          = link_to tr("Suspend this member", "view/users/_profile_nav"), suspend_user_url(@user), :title => tr("Lock out this member completely", "view/users/_profile_nav"), :class => "qtip_left", :confirm => tr("{user_name} will no longer be able to sign in, and their profile will be deleted with a message that they were suspended. They will NOT receive an email notification of this.", "view/users/_profile_nav", :user_name => @user.name), :method => :put
      - if @user.is_suspended?
        %li
          = link_to tr("Reinstate this member", "view/users/_profile_nav"), unsuspend_user_url(@user), :title => tr("Un suspend this person", "view/users/_profile_nav"), :class => "qtip_left", :confirm => tr("If you reinstate {user_name}, their profile will be restored and they will be able to sign in again. They will NOT receive an email notification of this, so if you want them to know you should contact them directly.", "view/users/_profile_nav", :user_name => @user.name), :method => :put
      - if @user.is_active? and not @user.is_admin? and @user != current_user
        %li
          = link_to tr("Sign in as this member", "view/users/_profile_nav"), impersonate_user_url(@user), :title => tr("Sign in as this member", "view/users/_profile_nav"), :class => "qtip_left", :confirm => tr("Are you sure you want to sign in as {user_name}? Be careful!", "view/users/_profile_nav", :user_name => @user.name), :method => :put
