.row
  .large-12.columns
    %h2
      = tr("Additional information","here")
    = form_for(@user, url: "/users/additional_information", html: {:multipart => true, method: :put }) do |f|
      = f.error_messages
      .field
        .label
          = tr("Email address", "view/users/edit")
        .field_box
          = f.text_field :email
          = tr("(Needed for registration but never shared without your permission)", "view/settings/index")
      %p
      .field
        .label
          = tr("How should you be identified on the site?", "view/users/edit")
        .field_box
          = f.text_field :login, :maxlength => 40, :size => 30
          = tr("(Can be your name or a pseudonym)", "view/users/edit")
      %P
      .field
        .label
          = tr("Upload your picture (optional)", "view/settings/picture")
        .field_box
          = f.file_field :buddy_icon
      %p
      = f.submit tr("Save settings", "view/users/edit"), :class => "yellow_button"
