.col-group
  .col-1
    .col-content
      = render :partial => "users/pic_50", :locals => {:user => @user}
      = render :partial => "users/profile_nav"
  .col-11
    .col-content
      = foundation_paginate(@ideas)
      - if @ideas.any?
        - @ideas.each do |idea_endorsement|
          - idea = Idea.unscoped.find(idea_endorsement.idea_id)
          = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
          %div{:id => "idea_detail_#{idea.id}"}
