.row
  .large-12.columns
    %center
      = render :partial => "users/pic_50", :locals => {:user => @user}
      %br
      = render :partial => "users/profile_info"
      = #render :partial => "users/button_small", :locals => {:user => @user, :following => @following}
.row
  .large-12.columns
    - if @ideas.any?
      %h2
        = tr("{name} ideas", "view/users/show", :name=> @user.login)
      - @ideas.each do |idea_endorsement|
        - idea = idea_endorsement
        = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
        %div{:id => "idea_detail_#{idea.id}"}
      %center
        - if @ideas.total_pages > 1
          = foundation_paginate(@ideas)
