.col-group
  .col-1
    .col-content
      = render :partial => "users/pic_50", :locals => {:user => @user}
      = render :partial => "users/profile_nav"
  .col-11
    .col-content
      = form_for(@user) do |f|
        = f.error_messages
        %h4= tr("Periodic updates on your ideas", "view/settings/signups")
        = f.radio_button :report_frequency, 2
        = tr("Weekly", "view/settings/signups")
        = f.radio_button :report_frequency, 1
        = tr("Monthly", "view/settings/signups")
        = f.radio_button :report_frequency, 0
        = tr("Never", "view/settings/signups")
        = f.check_box :is_comments_subscribed
        = tr("Comments on your discussions", "view/users/signups")
        %br/
        = f.check_box :is_point_changes_subscribed
        = tr("Revisions on your points", "view/users/signups")
        %br/
        = f.check_box :is_followers_subscribed
        = tr("When someone follows you or one of your contacts joins", "view/users/signups")
        %br/
        = f.check_box :is_finished_subscribed
        = tr("When a idea's status is changed", "view/users/signups")
        %br/
        = f.check_box :is_idea_changes_subscribed
        = tr("When an idea is revised", "view/users/signups")
        %br/
        = f.check_box :is_messages_subscribed
        = tr("Private messages and profile bulletins", "view/users/signups")
        %br/
        - if current_user.is_admin?
          = f.check_box :is_admin_subscribed
          = tr("For administrators", "view/users/signups")
          %br/
        = submit_tag tr("Save email settings", "view/users/signups"), :class => "yellow_button"
