- if Instance.current.message_for_network and Instance.current.message_for_network!=""
  = render :partial=>"/shared/top_message_box", :locals=> {:message_text => Instance.current.message_for_network.html_safe }
.row
  .large-12.columns
    = render :partial=>"/shared/sub_navigation"
.row
  .large-12.columns
    - if !@users.empty?
      %table{:width=>"100%"}
        %thead
          %tr
            %th.rank
              = ""
            %th{:colspan=>2}
              = tr("Users", "view/network/index")
        %tbody
          - @users.each_with_index do |user, rank|
            %tr
              %td
                #{rank+1}
              %td
                .row
                  .large-2.columns
                    = render :partial => "users/pic_50", :locals => {:user => user}
                  .large-10.columns
                    = link_to user.login, user
                    %br
                    %span.pc
                      = user.capitals_count
                      = tr("Social points","here").downcase
                    - if user.followers_count > 0
                      = "/"
                      = tr("{count} followers", "view/network/index", :count => user.followers_count)
                    - if user.has_top_idea? and user.top_endorsement.idea
                      %br
                      = tr("#1 idea:", "view/network/index")
                      - if user.top_endorsement.is_down?
                        %span.opposed= tr("Opposing", "view/network/index")
                      = link_to user.top_endorsement.idea.name, user.top_endorsement.idea
      = foundation_paginate(@users)
