- if !@users.empty?
  %table
    %thead
      %tr
        %th.rank= tr("Rank", "view/network/index")
        %th.week= tr("Change", "view/network/index")
    %tbody
      - @users.each_with_index do |user, rank|
        %tr
          %td #{rank+1}
          %td= render :partial => "ideas/rank_week_month", :locals => {:idea => user }
          %td= render :partial => "users/pic_48", :locals => {:user => user}
          %td
            .col-group
              .col-content
                = link_to user.login, user
                %span.pc
                  = user.capitals_count
                  = current_instance.currency_short_name
                = tr("<a href='{comment_url}'>{count} comments</a>", "view/network/talkative", :count => user.comments_count, :comment_url => discussions_user_url(user))
              - if user.has_top_idea? and user.top_endorsement.idea
                .col-content
                  = tr("#1 idea:", "view/network/index")
                  - if user.top_endorsement.is_down?
                    %span.opposed= tr("Opposing", "view/network/index")
                  = link_to user.top_endorsement.idea.name, user.top_endorsement.idea
  = will_paginate(@users)
