%nav.top-bar{'data-options'=>'is_hover: false'}
  %ul.title-area
    / Title Area
    %li.name
    %li.toggle-topbar.menu-icon{:style=>"width:100%;"}
      %div{:style=>"float:left;padding-left:32px !important"}
        = link_to SubInstance.current.name.truncate(25), "/"
      %div{:style=>"float:left;padding-top:5px;padding-left:20px !important"}
        = "<div class='fb-like' data-href='#{Instance.current.homepage_url}' data-send='false' data-layout='button_count' data-width='200' data-show-faces='false'></div>".html_safe
      %div{:style=>"float:right;"}
        %a{href: "#"}
          %span
            = tr("Menu","here")
  / The Section wrap
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      - if current_instance.domain_name.include?("yrpri") and SubInstance.current and SubInstance.current.iso_country
        %li.top-bar-world
          = link_to :controller => "home", :action=> "world" do
            = image_tag "icons/globe.png", :size=>"34x34"
        %li.divider
        %li.top-bar-flag{:class=>controller_name=="home" ? "active" : ""}
          = link_to SubInstance.current.show_url do
            .sprite_clip_flag
              = image_tag SubInstance.current.iso_country.large_flag_image, :size=>"45x45"
      - else
        %li{:class=>controller_name=="home" ? "active" : ""}
          %a{href: "/"}
            = tr("Home","here")
      %li.divider
      %li{:class=>controller_name=="ideas" ? "active" : ""}
        %a{href: "/ideas"}
          = tr("Ideas","here")
      %li.divider
      %li{:class=>controller_name=="issues" ? "active" : ""}
        %a{href: "/issues"}
          = tr("Categories","here")
      %li.divider
      %li{:class=>["users","network"].include?(controller_name) ? "active" : ""}
        %a{href: "/network"}
          = tr("People","here")
      %li.divider
    %ul.right
      %li.top-bar-new-idea
        - if SubInstance.current.block_new_ideas and SubInstance.current.block_new_ideas!=""
          - # DO NOTHING
        - else
          %a.button{:href => "/ideas/new"}
            = tr("SUBMIT YOUR IDEA", "view/ideas/_nav")
      %li.top-nav-search
        = render :partial => "shared/search"
      - if user_signed_in?
        %li.has-dropdown
          %a{:href => "#"}
            = tr("Account","here")
          %ul.dropdown
            %li.has-dropdown
              %a{:href => "#"}
                = Tolk::Config.mapping[I18n.locale.to_s]
              %ul.dropdown
                = render :partial => "shared/language_selection"
            = render :partial => "shared/user_menu"
      - else
        %li.has-dropdown
          %a{:href => "#"}
            = Tolk::Config.mapping[I18n.locale.to_s]
          %ul.dropdown
            = render :partial => "shared/language_selection"
      %li.has-dropdown
        %a{href: "#"}
          = tr("About","here")
        %ul.dropdown
          - @about_pages.each do |page|
            - unless page.hide_from_menu or (page.hide_from_menu_unless_admin and (!current_user or (current_user and !current_user.is_admin?)))
              %li
                #{link_to page.title.from_localized_yaml, :controller => "pages", :action => "show", :id=>page.id}
          - if request.host.include?("yrpri.org")
            %li
              = link_to tr("Your Priorities Spaces","here"), "https://www.yrpri.org/"
          - elsif request.host.include?("betraisland.is")
            %li
              = link_to "Betra Ísland síður", "https://www.betraisland.is/home/about"
