%nav.top-bar{'data-options'=>'is_hover: false'}
  %ul.title-area
    / Title Area
    %li.name
      / Hmm
    %li.toggle-topbar.menu-icon
      %a{href: "#"}
        %span
          = tr("Menu","here")
  / The Section wrap
  %section.top-bar-section
    / Left Nav Section
    %ul.left
      - if current_instance.domain_name.include?("yrpri") and SubInstance.current and SubInstance.current.iso_country
        %li.top-bar-world
          = link_to :controller => "home", :action=> "world" do
            = image_tag "icons/globe.png", :size=>"34x34"
        %li.top-bar-flag{:class=>controller_name=="home" ? "active" : ""}
          = link_to SubInstance.current.show_url do
            .sprite_clip_flag
              = image_tag SubInstance.current.iso_country.large_flag_image, :size=>"45x45"
      - else
        %li.top-bar-flag{:class=>controller_name=="home" ? "active" : ""}
          = link_to :controller => "home", :action=> "index" do
            .sprite_clip_flag
              = image_tag SubInstance.current.logo_url(:icon_50), :border => 0, :size=>"45x45"
      %li{:class=>controller_name=="home" ? "active" : ""}
        %a{href: "/"}
          = tr("Home","here")
      %li{:class=>controller_name=="ideas" ? "active" : ""}
        %a{href: "/ideas"}
          = tr("Ideas","here")
      %li{:class=>["users","network"].include?(controller_name) ? "active" : ""}
        %a{href: "/network"}
          = tr("People","here")
    %ul.right
      %li.top-bar-new-idea
        %a.button{:href => "/ideas/new"}
          = tr("SUBMIT YOUR IDEA", "view/ideas/_nav")
      %li.top-nav-search
        = render :partial => "shared/search"
      - if user_signed_in?
        %li.has-dropdown
          %a{:href => "#"}
            = tr("Account","here")
          %ul.dropdown
            %li.has-dropdown
              %a{:href => "#"}
                = Tolk::Config.mapping[I18n.locale.to_s]
              %ul.dropdown
                = render :partial => "shared/language_selection"
            = render :partial => "shared/user_menu"
      - else
        %li.has-dropdown
          %a{:href => "#"}
            = Tolk::Config.mapping[I18n.locale.to_s]
          %ul.dropdown
            = render :partial => "shared/language_selection"
      %li.has-dropdown
        %a{href: "#"}
          = tr("About","here")
        %ul.dropdown
          - @about_pages.each do |page|
            %li
              #{link_to page.title.from_localized_yaml, :controller => "pages", :action => "show", :id=>page.id}
