.row
  .large-12.columns
    %div.right
      = link_to "/users/additional_information" do
        = render :partial => "users/pic_50", :locals => {:user => current_user}
    %div.left
      %h5
        = current_user.name
    %div.left
      %h6
        = tr("{sp} social points","here",:sp=>current_user.capitals_count)
    %p.right
      = tr("Earn social points with constructive debate.","here")
      = tr("Spend social points on promotions for ideas you like at the top of the page.","here")

- if user_signed_in? && !current_user.confirmed?
  = render partial: "shared/activated"
