%li{:style=>"padding:5px;"}
  = tr("Root settings", "view/shared/_menu")
%li
  = link_to tr("Configuration", "view/shared/_menu"), "/instances/#{Instance.current.id}/edit"
%li
  = link_to tr("Buddy icon", "view/shared/_menu"), "/admin/buddy_icon"
%li
  = link_to tr("Master statistics", "view/shared/_menu"), "/admin/master_statistics"
%li
  = link_to tr("Sub instances", "view/shared/_menu"), "/admin/sub_instances"
