%li{:style=>"padding:5px;"}
  = tr("Admin settings", "view/shared/_menu")
%li
  = link_to tr("Users", "view/shared/_menu"), "/subscription_accounts/users"
%li
  = link_to tr("Subscription plan", "view/shared/_menu"), "/subscription_accounts/select_plan"
%li
  = link_to tr("Configuration", "view/shared/_menu"), edit_sub_instance_url(SubInstance.current)
%li
  = link_to tr("Categories", "view/shared/_menu"), "/categories"
%li
  = link_to tr("Statistics", "view/shared/_menu"), "/admin/statistics"
%li
  = link_to tr("Pages", "view/shared/_menu"), "/pages"
%li{:style=>"padding:5px;"}
  = tr("Reported content", "view/shared/_menu")
%li
  = link_to tr("All current", "view/shared/_menu"), "/admin/all_flagged"
%li
  = link_to tr("Warnings", "view/network/_nav"), :controller => "network", :action => "warnings"
%li
  = link_to tr("Suspended", "view/network/_nav"), :controller => "network", :action => "suspended"
%li
  = link_to tr("Probation", "view/network/_nav"), :controller => "network", :action => "probation"
%li
  = link_to tr("Deleted", "view/network/_nav"), :controller => "network", :action => "deleted"

