- if false and SubInstance.current.message_to_users and SubInstance.current.message_to_users!=""
  = render :partial=>"/shared/top_message_box", :locals=> {:message_text => SubInstance.current.message_to_users.html_safe }
- for category in @categories
  .idea_listing
    %span
      %h2
        %a{:href => "#{category.to_url}"}
          = category.name
          = " (#{category.ideas.published.count})"
        - if not @block_new_ideas
          = " -"
          %span.small_text{:style=>""}
            = raw "<a href='/ideas/new?category_id=#{category.id}'>"+tr("Add new idea","model/category")+"</a>"
      - category.ideas.published.by_random.limit(3).each do |idea|
        = render :partial=>"ideas/top_level_listing", :locals=>{:idea=>idea, :endorsements=>@endorsements}
        %br
- unless @activities.blank?
  .row
    .large-12.columns
      %h2.home_h1
        = tr("Latest Activity","home")
      .endless_scroll_activities
        = render :partial => 'feed/activity_list_simple'
      = link_to tr("More...","here"), "/feed/top_feed?page?#{@activities.next_page}", :class => 'load-more-posts', :remote => true if @activities.next_page

