#hp_intro= @page_title
= form_for(:user, :url => {:action => "update" }) do |f|
  = f.error_messages
  .option_group{:style => "line-height: 1"}
    %h4= tr("Periodic updates on your ideas", "view/settings/signups")
    = f.radio_button :report_frequency, 2
    = tr("Weekly", "view/settings/signups")
    = f.radio_button :report_frequency, 1
    = tr("Monthly", "view/settings/signups")
    = f.radio_button :report_frequency, 0
    = tr("Never", "view/settings/signups")
  %br/
  = f.check_box :is_comments_subscribed
  = tr("Comments on your discussions", "view/settings/signups")
  %br/
  = f.check_box :is_point_changes_subscribed
  = tr("Revisions on your points", "view/settings/signups")
  %br/
  = f.check_box :is_followers_subscribed
  = tr("When someone follows you or one of your contacts joins", "view/settings/signups")
  %br/
  = f.check_box :is_finished_subscribed
  = tr("When a idea's status is changed", "view/settings/signups")
  %br/
  = f.check_box :is_idea_changes_subscribed
  = tr("When an idea is revised", "view/settings/signups")
  %br/
  = f.check_box :is_capital_subscribed
  = tr("Notify whenever you gain or lose social points", "view/users/signups")
  %br/
  - if current_user.is_admin?
    = f.check_box :is_admin_subscribed
    = tr("For administrators", "view/settings/signups")
  %p
    = submit_tag tr("Save email settings", "view/settings/signups"), :class => "yellow_button"
