.row
  .large-12.columns
    .field
      .field_label
        = tr("Custom css (not sass!)", "view/instances/edit")
      .field_box
        = f.text_area :custom_css, :height => 300
.row
  .large-4.columns
    %p
      %label{:for => "sub_instance_name"}= tr("Title or Organization name", "view/sub_instances/_form")
      = f.text_field :name, :size => 30, :maxlength => 50
    %p
      %label{:for => "sub_instance_description"}= tr("Description", "view/sub_instances/_form")
      = f.text_area :description, :rows => 10, :cols=>45
    %p
      %label{:for => "sub_instance_website"}
        = tr("Google Analytics Code", "view/sub_instances/_form")
      = f.text_field :google_analytics_code
    %p
      %label{:for => "default_locale"}
        = tr("Default language (is/en/fr/...)", "view/sub_instances/_form")
      = f.text_field :default_locale
    %p
      %label{:for => "max length idea name"}= tr("Max length of idea name", "view/sub_instances/_form")
      = f.text_field :idea_name_max_length
    %p
      %label{:for => "http_auth_username"}= tr("HTTP Auth Username", "view/sub_instances/_form")
      = f.text_field :http_auth_username
    %p
      %label{:for => "http_auth_password"}= tr("HTTP Auth Password", "view/sub_instances/_form")
      = f.text_field :http_auth_password
    %p
      %label{:for => "geoblocking_open_countries"}
      = tr("Enable geoblocking", "view/sub_instances/_form")
      = f.check_box :geoblocking_enabled
    %p
      %label{:for => "geoblocking_open_countries"}
        = tr("Geoblocking open countries", "view/sub_instances/_form")
      = f.text_field :geoblocking_open_countries
    %p
      %label{:for => "live_stream_id"}
        = tr("Live stream id", "view/sub_instances/_form")
      = f.text_field :live_stream_id

    %p
      %label{:for => "default_locale"}= tr("Use category homepage", "view/sub_instances/_form")
      = f.check_box :use_category_home_page
    %p
      %label{:for => "default_locale"}= tr("Use live homepage", "view/sub_instances/_form")
      = f.check_box :use_live_home_page
    %p
      %label{:for => "default_locale"}= tr("Hide idea description", "view/sub_instances/_form")
      = f.check_box :hide_description
    %p
      %label{:for => "default_locale"}= tr("Hide world icon", "view/sub_instances/_form")
      = f.check_box :hide_world_icon
  .large-4.columns
    %p
      %b
        %label{:for => "logo"}= tr("Logo", "view/sub_instances/_form")
      = link_to image_tag(@sub_instance.logo_url(:preview)), @sub_instance.logo_url(:icon_full), :target=>"_blank"
      = f.file_field :logo
    %p
      %b
        %label{:for => "top_banner_image"}= tr("Top Banner Image", "view/sub_instances/_form")
      = link_to image_tag(@sub_instance.top_banner_url(:preview)), @sub_instance.top_banner_url(:icon_full), :target=>"_blank"
      = f.file_field :top_banner
  .large-4.columns
    .field
      .field_label= tr("Home page message to users", "view/instances/edit")
      .field_box= f.text_area :message_to_users, :rows => 7, :cols=>45
    .field
      .field_label
        = tr("Message for new idea", "view/instances/edit")
      .field_box
        = f.text_area :message_for_new_idea, :rows => 7, :cols=>45
    %p
      %label{:for => "block_new_ideas"}= tr("Block new ideas with", "view/sub_instances/_form")
      = f.text_area :block_new_ideas, :rows => 4, :cols=>45
    %p
      %label{:for => "block_endorsements"}= tr("Block endorsements with", "view/sub_instances/_form")
      = f.text_area :block_endorsements, :rows => 4, :cols=>45
.row
  .large-12.columns
    %center
      %table{:border => "0", :cellpading => "0", :cellspacing => "0"}
        %tr
          %td https://
          %td= f.text_field :short_name, :size => 10, :maxlength => 20
          %td
            \.#{current_instance.base_url}/
        %tr
          %td{:colspan=>"3"}
            %span.small
              = tr("WARNING: Please be very careful changing your URL if you are already using Your Priorities with ideas.", "view/sub_instances/_form")
