.col-group
  .col-third
    .col-content
      %p
        %table{:border => "0", :cellpading => "0", :cellspacing => "0"}
          %tr
            %td http://
            %td= f.text_field :short_name, :size => 10, :maxlength => 20
            %td
              \.#{current_instance.base_url}/
        %span.small= tr("Less than 20 characters", "view/sub_instances/_form")
      %p
        %label{:for => "sub_instance_name"}= tr("Title or Organization name", "view/sub_instances/_form")
        %br/
        = f.text_field :name, :size => 30, :maxlength => 50
        %br/
      %p
        %label{:for => "sub_instance_website"}
          = tr("Google Analytics Code", "view/sub_instances/_form")
        %br/
        = f.text_field :google_analytics_code
      %p
        %label{:for => "default_locale"}
          = tr("Default language (is/en/fr/...)", "view/sub_instances/_form")
        %br/
        = f.text_field :default_locale
      %p
        %label{:for => "max length idea name"}= tr("Max length of idea name", "view/sub_instances/_form")
        = f.text_field :idea_name_max_length
      %br/
      %p
        %label{:for => "http_auth_username"}= tr("HTTP Auth Username", "view/sub_instances/_form")
        %br/
        = f.text_field :http_auth_username
        %br/
      %p
        %label{:for => "http_auth_password"}= tr("HTTP Auth Password", "view/sub_instances/_form")
        %br/
        = f.text_field :http_auth_password
        %br/
      %p
        %label{:for => "geoblocking_open_countries"}
        = tr("Enable geoblocking", "view/sub_instances/_form")
        = f.check_box :geoblocking_enabled
      %p
        %label{:for => "geoblocking_open_countries"}
          = tr("Geoblocking open countries", "view/sub_instances/_form")
        %br/
        = f.text_field :geoblocking_open_countries
        %br/
      %p
        %label{:for => "default_locale"}= tr("Use category homepage", "view/sub_instances/_form")
        = f.check_box :use_category_home_page
      %p
        %label{:for => "default_locale"}= tr("Hide idea description", "view/sub_instances/_form")
        = f.check_box :hide_description
      %p
        %label{:for => "default_locale"}= tr("Hide world icon", "view/sub_instances/_form")
        = f.check_box :hide_world_icon
  .col-third
    .col-content
      %p
        %b
          %label{:for => "logo"}= tr("Logo", "view/sub_instances/_form")
        %br/
        = link_to image_tag(@sub_instance.logo(:preview)), @sub_instance.logo(:icon_full), :target=>"_blank"  
        %br/
        = f.file_field :logo
        %br/
      %p
        %b
          %label{:for => "top_banner_image"}= tr("Top Banner Image", "view/sub_instances/_form")
        %br/
        = link_to image_tag(@sub_instance.top_banner(:preview)), @sub_instance.top_banner(:icon_full), :target=>"_blank" 
        %br/
        = f.file_field :top_banner
        %br/
      %p
        %b
          %label{:for => "menu_strip_side_image"}
          = tr("Menu Strip Side Image", "view/sub_instances/_form")
        %br/
        = link_to image_tag(@sub_instance.menu_strip_side(:preview)), @sub_instance.menu_strip_side(:icon_full), :target=>"_blank" 
        %br/
        = f.file_field :menu_strip_side
        %br/
  .col-third
    .col-content
      .field
        .field_label
          = tr("Custom css (not sass!)", "view/instances/edit")
        .field_box
          = f.text_area :custom_css, :rows => 7, :cols=>45
      .field
        .field_label
          = tr("Message for new idea", "view/instances/edit")
        .field_box
          = f.text_area :message_for_new_idea, :rows => 5, :cols=>45
        %br/
      .field
        .field_label= tr("Message to users", "view/instances/edit")
        .field_box= f.text_area :message_to_users, :rows => 7, :cols=>45
      %p
        %label{:for => "block_new_ideas"}= tr("Block new ideas with", "view/sub_instances/_form")
        %br/
        = f.text_area :block_new_ideas, :rows => 4, :cols=>45
      %p
        %label{:for => "block_endorsements"}= tr("Block endorsements with", "view/sub_instances/_form")
        %br/
        = f.text_area :block_endorsements, :rows => 4, :cols=>45
