%p
  %b Picture:
  = h @sub_instance.picture_id
%p
  %b Is optin:
  = h @sub_instance.is_optin
%p
  %b Optin text:
  = h @sub_instance.optin_text
%p
  %b Privacy url:
  = h @sub_instance.privacy_url
%p
  %b Name:
  = h @sub_instance.name
%p
  %b Short name:
  = h @sub_instance.short_name
