%h1
  = tr("Signing up for ","here")+@subscription.plan.name.from_localized_yaml
%p
  %strong
  = number_to_currency @subscription.plan.price_usd, unit: "$"
= form_for @subscription do |f|
  - if @subscription.errors.any?
    .error_messages
      %h2
        = pluralize(@subscription.errors.count, tr("error","here"))
        prohibited this subscription from being saved:
      %ul
        - @subscription.errors.full_messages.each do |msg|
          %li= msg
  = f.hidden_field :plan_id
  = f.hidden_field :paymill_card_token
  - if @subscription.plan.price>0.0
    - if @subscription.paymill_card_token.present?
      Credit card has been provided.
    - else
      .field
        = label_tag :card_number, tr("Credit Card Number","here")
        = text_field_tag :card_number, nil, name: nil
      .field
        = label_tag :card_code, tr("Security Code on Card (CVV)","here")
        = text_field_tag :card_code, nil, name: nil
      .field
        = label_tag :card_month, tr("Card Expiration","here")
        = select_month nil, {:add_month_numbers=> true}, {:name=> nil, :id=> "card_month"}
        = select_year nil, {:start_year=> Date.today.year, :end_year=> Date.today.year+15}, {:name=> nil, :id=> "card_year"}
  #paymill_error
    %noscript JavaScript is not enabled and is required for this form. First enable it in your web browser settings.
  .actions
    = f.submit tr("Subscribe","here"), :id=>"submit_button"
= link_to 'Back', "/subscription_accounts/select_plan"
