%h2
  = tr("Welcome","here")
= form_for resource, :as => resource_name, :url => invitation_path(resource_name), :html => { :method => :put } do |f|
  = devise_error_messages!
  = f.hidden_field :invitation_token
  %p
    = tr("Full name","here")
    %br
    = f.text_field :login
  %p
    = tr("Password","here")
    %br
    = f.password_field :password
  %p
    = tr("Password confirmation","here")
    %br
    = f.password_field :password_confirmation
  %p
    = f.submit tr("Submit","here")