= form_for @plan do |f|
  - if @plan.errors.any?
    #error_explanation
      %h2= "#{pluralize(@plan.errors.count, "error")} prohibited this plan from being saved:"
      %ul
        - @plan.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :paymill_id
    = f.text_field :paymill_id
  .field
    = f.label :name
    = f.text_area :name
  .field
    = f.label :description
    = f.text_area :description
  .field
    = f.label :amount
    = f.text_field :amount
  .field
    = f.label :currency
    = f.text_field :currency
  .field
    = f.label :max_users
    = f.number_field :max_users
  .actions
    = f.submit 'Save'
