%html{:lang => I18n.locale, "xml:lang" => I18n.locale, :xmlns => "http://www.w3.org/1999/xhtml", "xmlns:fb" => "http://www.facebook.com/2008/fbml", prefix: "og: http://ogp.me/ns#"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "f7bd4ff2ad1c2848-aabfe1f275c1cd8b-g5ca4676a77b8b93a-15", :name => "google-translate-customization"}/
    %title
      - if SubInstance.current and SubInstance.current.short_name!="default"
        = "#{@page_title || current_instance.name}"
      - else
        = "#{@page_title || current_instance.name}"
    :javascript
      var PAYMILL_PUBLIC_KEY = '#{ENV['PAYMILL_PUBLIC_KEY']}';
    = render :partial=>"ideas/fb_og_tags"
    - if Instance.first.favicon.present?
      = favicon_link_tag(current_instance.favicon.url(:icon_full))
    = render :partial => "shared/description"
    = render :partial => "shared/head"
    = render :partial => "shared/javascripts"
    = render :partial => "shared/css"
    - if true or Rails.env.production?
      = render :partial => "shared/analytics"
    = #IE8 Hack
    /[if IE 8]
      = render :partial => "shared/ie8_foundation"
      = javascript_include_tag 'selectivizr'
      = respond_include_tags
%body{class: SubInstance.current.short_name }
  = csrf_meta_tag
  .row
    .large-12.columns
      = render :partial => "shared/top_banner"
  .row
    .large-12.columns
      .sticky.contain-to-grid
        = render :partial => "shared/top_navigation"
  .br
  .row
    .large-12.columns
      = render :partial => "sub_instances/message_to_users" if controller_name=="home"
  .row
    .large-12.columns
      = render :partial => "ads/pick"
  .row{:class=>"main_row"}
    .large-9.columns
      = flash_div :warning, :notice, :error
      = yield :layout
    .large-3.columns
      = render :partial=>"shared/right_column"
  - if ["donations","subscriptions","subscription_accounts"].include?(controller_name)
    = javascript_include_tag "https://bridge.paymill.com/"
  = render :partial => "shared/facebook_footer"
  = render :partial => "shared/google_plus_footer"

